body {
    font-family: 'Noto Sans';
    font-size: 20px;
    max-width: 1350px;
    margin: 0 auto;
}

header {
    h1 {}
}

#Perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
}

.des {
    background-color: rgb(232, 234, 237);
    height: 100%;
    margin-top: 35px;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px;
}

/*Descripcion*/
.Descripcion h2 {
    margin: 0px 0px -10px;
    padding: 0;
    border: 0;
}

/*Tarjetas de experiencia*/
.Titulo_P {
    grid-area: miArea;
}

.exp {
    display: grid;
    grid-template-areas: 'miArea miArea miArea';
}

.Tarjeta {
    border-radius: 15px;
    background-color: rgb(232, 234, 237);
    box-shadow: 5px 5px 5px;
    width: 390px;
    height: 235px;
    padding: 0px 20px;
    margin: 0px 30px 20px 0px;

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/*Tarjetas de proyectos*/

.T_P {
    grid-area: miArea;
}

.proyectos {
    display: grid;
    grid-template-areas: 'miArea miArea miArea';
}

.Tarj {
    background-color: rgb(232, 234, 237);
    box-shadow: 5px 5px 5px;
    border-radius: 15px;
    width: 80%;
    height: 350px;
    padding: 0px 20px;

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/*Habilidades*/

.habilidades {}

.Globos {
    margin-top: -25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    p {
        font-size: 20px;
        text-align: center;
        background-color: rgb(232, 234, 237);
        border-radius: 50px;
        padding: 20px 20px 0px;
        width: 250px;
        height: 50px;
        box-shadow: 5px 5px 5px;
    }
}

/*Conocimientos*/
.conocimientos{
    
    margin-top: -20px;
}

.Iconos {
    text-align: center;
    background-color: rgb(232, 234, 237);
    border-radius: 50px;
    margin: 0px 0px 55px;
    box-shadow: 5px 5px 10px;

    img {
        border: 0;
        padding: 0;
        margin: 15px 15px 10px;
    }
}