/* Estilos generales */

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* Centra el contenido */
}

/* Estilos del header */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* O el color de fondo que desees */
    padding: 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#Perfil {
    margin-top: 120px;
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
        width: 80%; /* Ajusta el ancho máximo para pantallas más pequeñas */
    }
}

/* Estilos para los botones (ajusta según tu diseño) */

.header-container nav ul {
    list-style: none;
    display: flex;
}

.header-container nav li {
    margin-left: 10px;
}

/* Estilos para el section (ajusta según tu diseño) */

section {
    padding: 20px;
}

/* Estilos adicionales para personalizar el diseño */