/*
    width Ancho
    height Alto
    padding Espaciado interno
    margin Espaciado externo
    border Borde
    border-width Grosor del borde
    border-radius Bordes redondeados
    background-color Color de fondo
    box-shadow Sombra de la caja
    display: Muestra el elemento como un bloque o en línea
*/
* {
    font-family: 'Noto Sans';
    font-size: 20px;
}

.container {
    margin: 20px 160px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
    width: 100%;
    transition: height 0.3s;

}

.encabezado.scroll {
    height: 75px;
    /* Altura al hacer scroll */
}

.Titulo {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#modo {
    margin-left: auto;
    padding: -10px 10px;
    font-size: 30px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: (232, 234, 237)parent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modo:hover {
    background-color: #1c2833;
    box-shadow: 5px 5px 10px;
    transition: all 0.3s ease-in-out;
}

.Perfil {
    display: block;
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
    width: 100%;

    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
}

.des {
    background-color: rgb(232, 234, 237);
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    margin: 40px 0;
    padding: 10px 33px;
}

.subtitulo {
    margin: 23px 0px -16px;
}

.subtitulo2 {
    margin: -5px 0px 30px 0px;
}

.subtitulo3 {
    margin: -5px 0px 20px 0px;
}

.subtitulo4 {
    margin: 25px 0px 0px 0px;
}

.exp {
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
    border: 0;
    /* overflow: hidden; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}

.Tarjeta {
    background-color: rgb(232, 234, 237);
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    padding: 3px 20px;
    margin: 0px 0px 0px 0px;
    height: 350px;
    width: 29.5%;

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

.textoDerecho {
    text-align: right;
}

.textoIzquierdo {
    text-align: left;
}

.habilidades {}

.Globos {
    background-color: rgb(232, 234, 237);
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    padding: 3px 20px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: auto;

    p {
        font-size: 16px;
    }
}

.Iconos {
    text-align: center;
    background-color: rgb(232, 234, 237);
    border-radius: 50px;
    box-shadow: 5px 5px 10px;
    padding: 10px 10px 10px 35px;
    margin-top: 35px;
    width: auto;

    img {
        border: 0;
        padding: 0;
        margin: -35px 15px 25px 0px;
    }
}

/* Responsive */
@media (max-width: 1200px) {
    .encabezado {
        margin: 0 80px;
    }

    .container {
        margin: 20px 80px;
        font-size: 20px;
    }

    .exp {
        flex-direction: column;
        height: auto;
    }

    .Tarjeta {
        width: auto;
        margin-bottom: 20px;
    }


    .Globos {
        width: auto;
        margin: 15px 0;
    }

    .Iconos {
        padding: 10px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .encabezado {
        margin: 0 55px;
    }

    .container {
        margin: 10px 55px;
    }

    .Titulo {
        font-size: 23px;
        text-align: left;
    }

    .Perfil {
        width: 100%;
    }

    .des {
        padding: 10px 20px;
    }

    .exp {
        flex-direction: column;
        height: auto;
    }

    .Tarjeta {
        width: auto;
        margin-bottom: 25px;
    }

    .Globos {
        width: auto;
        margin: 10px 0;
    }

    .Iconos {
        padding: 10px;
        width: auto;

        h3 {
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .encabezado {
        margin: 0 5px;
    }

    p,
    li {
        font-size: 18px;
    }

    .container {
        margin: 10px 5px;
        margin-bottom: 20px;
    }

    .Titulo {
        text-align: left;
        font-size: 21px;
    }

    .des {
        padding: 5px 10px;
    }

    .Tarjeta {
        font-size: 18px;
        width: auto;
        height: 380px;
        margin-bottom: 25px;

        li {
            margin-left: -15px;
        }
    }

    .Globos {
        font-size: 18px;
        padding: 10px 0;
        width: auto;

        li {
            margin-left: 10px;
        }
    }

    .Iconos {
        width: auto;
        border-radius: 15px;

        h3 {
            text-align: center;
        }

        img {
            margin: 10px;
        }
    }
}